.show_comments_link{
    text-decoration: underline;
    color: white;
}

.show_comments_link:hover{
    cursor: pointer;
}

.form-control::placeholder{
    color: black;
}

.post-delete:hover{
    cursor: pointer;
    color: red
}