@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/*=====SECTION 1=====*/
.header_container{
    background-color: rgb(36, 42, 47);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    color: #808080;
    font-family: 'Bebas Neue', sans-serif;
}

.container_first{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 40px;
    font-size: 18px;
}

.social_media{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 85.93%;
}

.social_media_holder{
    display: flex;
    width: 50%;
    justify-content: space-around;
    border-bottom: 1px solid #000000;
    font-size: 12px;
}

.social:hover{
    animation: blink 1s infinite;
    cursor: pointer;
}

@keyframes blink {
    50% {
        text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff;
    }
  }

  .messages{
    transition: opacity 2s ease-in-out;
  }

  /*=====SECTION 2=====*/
  .logo_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 14%;
    border-right: solid #000000 1px;
    /* background-color: red; */
  }

  .second_section{
    display: flex;
    height: 200px;
    border-bottom: solid #000000 1px;
  }

  .menu_items_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 86%;
  }

  .menu_items{
    width: 45%;
  }

  .menu{
    display: flex;
    justify-content: space-between;
    width: 80%
  }

  .icons{
      font-size: 18px;
  }
  .icons:hover{
    color: white;
    cursor: pointer;
  }